const range = 7 * 24 * 60 * 60 // seconds
const endTimestamp = Math.floor(Date.now() / 1000)

module.exports = {
	logFile: '/tmp/output.log',
	spulLogFile: './spul.full.log',
	mysql: {
		host: '',
		user: 'admin',
		password: '',
		database: 'measurements',
	},
	udids: {
		'0000000000000001': { name: 'DEV_FRIENDLY_NAME' },
	},
	timeout: 60 * 1000,
	period: {
		interval: 5 * 60, // seconds
		timestampStartByte: 4, // bytes
		zeroCheckStartByte: 14, // bytes
		range: range,
		endTimestamp: endTimestamp,
		startTimestamp: endTimestamp - range,
	},
	report: {
		// Follow these instructions:
		// https://www.npmjs.com/package/google-spreadsheet#service-account-recommended-method
		// Place JSON file next to this file and name it 'google-credentials.json'.
		// Don't forget to share the spreadsheet with the client_email from the JSON file.
		creds: require('./google-credentials.json'),

		key: '', // Long ID from spreadsheet URL
		titleFormat: 'yyyy-mm-dd \wW',
	}
}
